<div class="container border-3 rounded shadow p-4 mb-4 border-secondary w-50" style="margin-top:5%;">
    <div class="col-sm-12">
        <nav class="navbar d-flex align-items-end">
            <div class="row_first">
                <div class="col-sm-3 float-left">
                    <a class="navbar-item active" href="/sessions/show" style="text-decoration: none;">
                    <img src="../images/admin.png"></br>Admin</a>
                </div>
                <div class="col-sm-3 float-left">
                    <a class="navbar-item" href="/doctors" style="text-decoration: none;">
                    <img src="../images/doctor.png"></br>Doctors</a>
                </div>
                <div class="col-sm-3 float-left">
                    <a class="navbar-item" href="/patients" style="text-decoration: none;">
                    <img src="../images/patient.png"></br>Patients</a>
                </div>
              <div class="col-sm-3 float-left">
                    <a class="navbar-item" href="/departments" style="text-decoration: none;">
                    <img src="../images/department.png" class="ml-2"></br>Departments</a>
              </div>
            </div>

            <div class="row_second">
                <div class="col-sm-3 float-left">
                    <a class="navbar-item" href="/rooms" style="text-decoration: none;">
                    <img src="../images/rooms.png" class="ml-2"></br>Rooms</a>
                </div>
                <div class="col-sm-3 float-left">
                    <a class="navbar-item" href="/beds" style="text-decoration: none;">
                    <img src="../images/bed.png" class="ml-2"></br>Beds</a>
                </div>
                <div class="col-sm-3 float-left">
                    <a class="navbar-item" href="/appointments" style="text-decoration: none;">
                    <img src="../images/appointment.png" class="ml-2"></br>Appointments</a>
                </div>
                <div class="col-sm-3 float-left">
                    <a class="navbar-item" href="/comments?id=1" style="text-decoration: none;">
                    <img src="../images/recommend.png" class="ml-2"></br>Recommendations</a>
                </div>
            </div>
            <div class="row_third">
                <div class="col-sm-3 float-left">
                    <a class="navbar-item" href="/timeslots" style="text-decoration: none;">
                    <img src="../images/time_slot.png" class="ml-2"></br>Time Slots</a>
                </div>
            </div>
        </nav>
    </div>
</div>
