<p>
  <b>Patient condition:</b>
  <%=h @comment.patient_condition %>
</p>

<p>
  <b>Medication:</b>
  <%=h @comment.medication %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>