<div class="container border w-50" style="height: 30%; margin-top: 6%;">
  <% form_tag({:action => 'create'}, {:class => 'signin_form'}) do -%>
    <!--  -->
   </br></br></br>
   <!--  -->
   <div class="text-center">
    	<h2><b>Add Department</b></h2>
    </div><hr></br>
  	<div class="form-row">
    	<div class="form-group col-md-6">
      		<%= text_field_tag :department_name, params[:department_name], :placeholder => "Department Name", :class => "form-control", :required => true%>
    	</div>
    </div>
    <!--  -->
    </br></br></br>
    <!--  -->
    <%= submit_tag "Create", :class => "btn btn-primary dpcreatbtn", :name => nil%>
  <% end %>
</div>
