<% form_tag :controller => :patients, :action => 'search_slots', :id => params[:doctor_id] do -%>
<div class="group-form">
	<label >Date:</label>
	<%= date_select(:date, :date, :required => true, :include_blank => true, :class => "control-form")%></br></br></br>
</div>
<div class="group-form">
	<label>Time:</label>
	<%= select_time(Time.now, :prefix => "start_time", :class => "control-form") %>
</div>
</br></br><%= submit_tag "Find", :name => nil, :class => "btn btn-primary" %>
<% end %>
