<div class="container">
  <h2><b>Listing appointments</b></h2>
  <table class="table table-bordered">
    <!--  -->
    <thead>
      <tr>
        <th>SI No</th>
        <th>Case</th>
        <th>Date</th>
        <th>Patient</th>
      </tr>
    </thead>
    <!--  -->
    <tbody>
      <% @appointments.each do |appointment| %>
        <td><%=h appointment.id %></td>
        <td><%=h appointment.case %></td>
        <td><%=h appointment.date %></td>
        <td><%= link_to appointment.patient.first_name+" "+appointment.patient.middle_name+" "+appointment.patient.last_name, :controller => :patients, :action => "details_view_doctor", :user_id => appointment.find_user(appointment.patient_id)%></td>
      </tr>
      <% end %>
    </tbody>
    <!--  -->
  </table>
</div>
<br />
