<div class="container">
  <h2><b>Rooms Details</b></h2>
  <table class="table table-bordered">
    <!--  -->
    <thead>
      <tr>
        <th>Room no:</th>
        <th>Drepartment</th>
        <th>No of beds</th>
      </tr>
    </thead>
    <!--  -->
    <tbody>
      <% @rooms.each do |room| %>
      <tr>
        <td><%= h room.id %></td>
        <td><%= h room.department_id %></td>
        <td><%= h room.no_of_beds %></td>
      </tr>
    <% end %>
    </tbody>
    <!--  -->
  </table>
</div>
<br />
