<div class="container">
  <h2><b>Listing appointments</b></h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>SI No</th>
        <th>Case</th>
        <th>Patient</th>
      </tr>
    </thead>
    <tbody>
      <% @appointments.each do |appointment| %>
        <td><%=h appointment.id %></td>
        <td><%=h appointment.case %></td>
        <td><%= link_to appointment.patient.first_name+" "+appointment.patient.middle_name+" "+appointment.patient.last_name, :controller => :patients, :action => "details_view_admin", :id => appointment.patient_id%></td>
        <td><%= link_to 'Destroy', appointment, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br />
