<div class="container border w-50" style="height: 40%; margin-top: 6%;">
  <% form_for(@bed) do |f| %>
   	<div class="text-center"></br></br>
    	<h3>Update Bed</h3>
  	</div>
    <!--  -->
    <hr></br></br></br>
    <!--  -->
  	<div class="form-row">
    	<div class="form-group col-md-6">
      		<label >Department Name</label>
      		<%= text_field_tag :department_name, params[:department_name], :value => @room.department.department_name, :disabled => true, :class => "form-control" %>
    	</div>
    	<div class="form-group col-md-6">
      		<label >Room Id</label>
      		<%= text_field_tag :room_id, params[:room_id], :value => @room.room_id, :disabled => true, :class => "form-control" %>
    	</div>
    </div>
    <!--  -->
    </br></br></br>
    <!--  -->
    <div class="form-row" style="margin-left:20%; margin-top:-5%;">
      <div class="form-group col-md-6">
        <label >Bed Status::</label>
        <div class = "group-form" style="margin-left:65%; margin-top:-12%;">
          <%= f.select :is_engaged, options_for_select(Bed::OPTIONS.each{ |key, value| }) %>
        </div>
      </div>
    </div>
    <!--  -->
    </br></br></br>
    <!--  -->
    <%= f.submit 'Update', :name => nil, :class => "btn btn-primary", :style =>"margin-top:-12%;" %>
  <% end %>
</div>
